div{
    background-color: aquamarine;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
}