*{
 box-sizing: border-box;   
}
.all-buttons{
    display: flex;
    justify-content:space-between;
    margin-top: 90px;
    gap:20px;
}
.negative-buttons{
    display: flex;
    justify-content: space-between;
}
.Buttons-Undo-Redo{
    display: flex;
    justify-content: center;
    gap:20px;
}
.AllButtonsCss{
    height: 100px;
    width: 200px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.count{
    font-size: 80px;
    font-weight: bold;
}
.history{
    background-color: rgb(1, 1, 8);
    color:wheat;
    font-size: 40px;
    font-weight: bold;
    margin-top: 70px;
    height: 300px;
    width: 500px;
    padding: 40px;
    max-width: 100%;
    overflow-y: auto;
}
.main-history{
    display: flex;
    justify-content: center;
    align-items: center;
}