body{
    background-color: #D5E1EF;
    text-align: center;
}
.code{
    height: 300px;
    /* width: 200px; */  /* dont set direct width */
    width: 100%;
    max-width: 200px;
    background-color: white;

    /* center */
    position: absolute;
    margin: auto;
    inset: 0;

    border-radius: 20px;
    padding: 10px;
}

.img{
    width: 100%;
    border-radius: 10px;
    color: #23314B;
}
.paragraph{
    font-size: 10px;
    color:#A9ACB6;
    margin-top: -12px;
}