.container{
    background-color: black;
    padding: 24px;
}
.header{
    color: white;
    display: flex;
    justify-content: space-between;
}
.copyBtn{
    background-color: cornflowerblue;
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}
.password{
    font-size: 30px;
    font-weight: 700;
}
.title{
    color:white;
}
.checkboxes{
    display: grid;
}
.charLength{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}
.rangebox{
    width: 100%;
}
.checkboxes{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 30px;
    margin-top: 60px;
}
.generatePassword{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.generatePasswordBtn{
    background-color: green;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.error{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}