.parent {
    height: 200px;
    width: 400px;
    background-color: rgb(219, 33, 188);
    position: relative;
}

.box {
    width: 300px;
    height: 150px;
    background-color: aqua;
    transform: scale(1);
    transform-origin: 0 0; 
    /* transform: rotate(45deg); */
    /* transform: translateY(100%);  */
    /* transform: translateX(50%); */ /*same as margin but its not push any element*/
}

.nikita{
    background-color: deeppink;
    height: 150px;
    width: 200px;
    background-image: url("https://images.unsplash.com/photo-1725375501406-8207474ec78b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMDZ8fHxlbnwwfHx8fHw%3D");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:rgba(0, 0, 0, 0.35) 20px 12px 10px;

    /* hover time roatate */
    transition: transform 900ms;

    /* set in middle -below style */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nikita:hover {
    transform: rotate(45deg) ;
}