
/*---------------------------------------------------
 Note-Orders of specificity high to low
----------------------------------------------------
1->!important(No specifity)   
2->Inline css(1000 specificity)
3->#Id(1,0,0)
4->.class(0,1,0)
5->(p/button/h1)-(0,0,1)  very low specificity 
-----------------------------------------------------*/


/* cascading */
h1{
    color: blue;
}
h1{
    color:chartreuse
}
/* apply below css for h1 beacuse of cascading.compiler line line executed code */
h1{
    color: orangered;   
}



/* specificity-hover on class and see what is Specificity: (0, 1, 0) */
.specificityclass.specificityclass.specificityclass{
    background-color:darkolivegreen;
}
p.specificityclass#specificityId{
    background-color:  deeppink;   /*(1,1,1)*/
}
#specificityId{
    background-color: rgb(255, 94, 0);
}
#specificityId{
    background-color: chartreuse;   /* specificity with cascading */
}
.specificityclass{
    background-color: cadetblue;
}
p{
    background-color: blueviolet;
}


ul{
    color:cornflowerblue;
    font-size: 30px;
    font-family: cursive;
}

/* inherit */
button{
    font-family: inherit;
    font-size: inherit;
    color:inherit;
}


/* override above all specificity using important keyword (dont use more)*/
p.specificityclass{
    background-color: rgb(255, 0, 140) !important;
}

p{
    background-color: yellow !important;
}

