.parent{
    /* height: 800px; */
    font-size: 40px;
}

/* ----------------------------------------------------------------- */
/* Percentage->

1.width->calculate percentage based on parent width
2.height->calculate percentage based on parent height(but required parent height in px(pixel)
3.padding->padding calculate on parent width
4.margin->margin calculate on parent width
5.font-size->font size is calculate on parent font size */

/* ----------------------------------------------------------------- */
.Percentage{
    background-color: chartreuse;
    width: 50%;
    /* height: 50%; */
    padding: 5%;     
    margin: 5%;
    font-size: 30%;
}

/* browser chi width kmi krel tse khalil sizes pn chote mothe hotat */
.viewport{
    background-color: chocolate;
    width: 50vw;
    /* height: 50vh; */
    font-size: 5vw;
    padding: 10vw;
    margin: 10vw;
    border:1vw solid black;
}

