.addNew {
    display: flex;
  }
  
  .title {
    font-family: Josefin Sans;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .dashboard {
    margin-left: 120px;
  }
  
  .addNewbtn {
    gap: 0px;
    border-radius: 18px;
    opacity: 0px;
    border-width: 0px 2px 2px 0px;
    border-radius: 25px;
    border-color: rgba(225, 201, 247, 1);
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px #E1C9F7E0;
    width: 220px;
    height: 34px;
    font-family: Josefin Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 38px;
    text-decoration: none;
  }

  .addNewbtn .viewmore {
    text-decoration: none;
  }
  .addNewbtn a {
    text-decoration: none; 
    color: inherit; 
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .box {
    width: 460px;
    background-color: white;
    border-radius: 6.94px;
    box-shadow: 0 0 10px #E1C9F7E0;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 25px;
  }
  
  span img {
    display: block;
    max-width: 50px;
    height: auto;
  }
  
  .box-items {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    gap: 16px;
  }
  
  .box-items>div {
    text-align: left;
  }
  
  .box-items div div {
    margin-bottom: 4px;
  
  }
  
  .subupcomingTitle {
    font-family: "Josefin Sans";
    font-size: 23px;
    font-weight: 50;
    line-height: 27.77px;
  }
  
  .box-main{
    display: flex;
    margin-top: 25px;
  }
  
  .allicons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  }
  
  .viewmore{
    margin-top: 30px;
    margin-left: 150px;
  }