
.Scheduled-contain {
    width: 831px;
    height: 503px;
    top: 216px;
    left: 251px;
    gap: 0px;
    border-radius: 26px;
    opacity: 0px;
    box-shadow: 0 0 10px #E1C9F7E0;
    margin: 0 auto;
    width: 50%;
  }
  
  .line {
    width: 406px;
    height: 0px;
    top: 237px;
    left: 486px;
    gap: 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
    color: rgba(247, 202, 201, 1);
    background-color: rgba(247, 202, 201, 1);
  }
  
  .content-schedule {
    display: flex;
    justify-content: space-around;
    padding: 25px;
  }
  
  .meetingiconbackground {
    width: 139px;
    height: 150.91px;
    top: 407px;
    left: 317px;
    gap: 0px;
    border-radius: 20.65px;
    opacity: 0px;
    box-shadow: 0 0 10px #E1C9F7E0;
    display: grid;
    place-items: center;
    margin-top: 50px;
    padding: 10px;
  }
  
  .calender {
    margin-left: 30px;
  }
  
  .day {
    color: rgba(165, 143, 185, 1);
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .date {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  
  }
  
  .date-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .lines {
    width: 4px;
    height: 0px;
  }
  
  .horizontal {
    margin-top: 10px;
  }