.card{
    color: white;
    height: 100px;
    width: 100px;
    background-color: blue;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
}
.container{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.newCard{
    background-color: brown;
}
.add-card{
    position: absolute;
    border-radius: 100%;
    bottom: 33px;
    right: 32px;
}